/*
 * mapshup - Webmapping made easy
 * http://mapshup.info
 *
 * Copyright Jérôme Gasperi, 2011.12.08
 *
 * jerome[dot]gasperi[at]gmail[dot]com
 *
 * This software is a computer program whose purpose is a webmapping application
 * to display and manipulate geographical data.
 *
 * This software is governed by the CeCILL-B license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL-B
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 *
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 *
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 *
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL-B license and that you accept its terms.
*/
/**
 *
 * RESET CSS - From http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*********************************************
 * Beginning of mapshup css definition
 *
 *  blue  : #375863 57,88,99
 *  gris : 999  153, 153,153
 *  orange clair : #f3961c 243,150,28
 *  orange foncé : #c76400 199,100,0
 *  Sulphur sulphur yellow   [255,200,50]   #ffc832
 *  Green RGB: 183, 213, 81 b7d551
 *  facebook navy blue #3B5998
 *
 ***********************************************/

/***********************************************
 *
 * CSS pre-defined properties
 *
 ***********************************************/
html,body {
    height:100%;
}
body {
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:12px;
    background-color:transparent;
    /* Everything is on one page */
    overflow:hidden;
}
h1 {
    text-transform: uppercase;
    font-size:1.2em;
}
a {
    color:#f3961c;
    text-decoration:none;
    padding:5px;
    outline:none;
}

a:hover {
    outline:none;
}

img {
    border-width:0px;
}

img.middle {
    vertical-align: middle;
}

img.square {
    height:75px;
    width:75px;
}

ul {
    list-style:none;
}

input[type="password"],input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 8px;
}
input:focus,input[type="password"]:hover,input[type="text"]:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
}
input:placeholder {
    color:#666;
}

table thead {
    background-color:#ccc;
    color:#666;
    text-transform:uppercase;
    height:20px;
    line-height:20px;
}

/*===================================
*
*  Shared classes
*
*====================================*/

/* Semi-transparent window over everything except askFor popups */
.overall {
    background-color:rgba(243, 150, 28, 0.9);
    color:#fff;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:34900;
}
.overall span.close, .rm span.close {
    color:#fff;
    font-size:5em;
    top:10px;
    right:10px;
    width:auto;
    height:auto;
}

/***********************************
 *
 * Common shared properties
 *
 ***********************************/

/* Darker color - BLACK */
body, .po .generic, .active, .selected
{
    color:#000;
}
/* Lighter color - WHITE */
#coords,
#theBar,
#tooltip .inner,
#theBar .logo a,
#slacker,
a.tab,
.button,
.button a,
.mask .content,
.mask .loading a,
.tbnwh, .tbnwv, .tbneh, .tbnev, .tbswh, .tbswv, .tbseh, .tbsev,
.hover:hover,
.featureHilite,
.olControlAttribution,
.lm,
.lm .thumbs .mask,
.lm .thumbs ul li a,
span.hilite
{
    color:#fff;
}

/* Main colored background-color - Black */
#theBar,
#slacker,
.tbnwh, .tbnwv, .tbneh, .tbnev, .tbswh, .tbswv, .tbseh, .tbsev,
.featureHilite,
.pnsi,
.spn,
.sp a.active,
a.tab.active,
a.tab:hover
{
    background-color:#000;
}

/***********************************
 *
 * mapshup general structure 
 *
 ***********************************/

/* mapshup container */
.wrapper {
    min-height:100%;
    height: auto !important;
    height: 100%;
    margin:0px 0px -100px;
}

/* Header */
#Mheader {
    position:absolute;
    top:0px;
    left:0px;
    height:0px;
    width:100%;
}

/* Footer */
#Mfooter {
    position:absolute;
    bottom:0px;
    left:0px;
    height:0px;
    width:100%;
}

/* map container */
#mapcontainer {
    position:absolute;
    width:100%;
    height:100%;
}
#map {
    position:absolute;
    background:#ddd url(img/mapbg.png);
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow:hidden;
}
.map {
    position:absolute;
    top:35px; /* Fullscreen map should be 0px */
    left:0px;
    right:0px;
    bottom:0px;
    overflow:hidden;
}

/* header bar */
#theBar {
    position:absolute;
    top:0px;
    left:0px;
    height:35px;
    line-height:35px;
    width:100%;
    overflow:hidden;
    z-index:34500;
}
#theBar .container {
    position:absolute;
    top:0px;
    left:35px;
    right:35px;
    height:100%;
}
#theBar .logo {
    position:absolute;
    left:0px;
}
#theBar .logo a {
    font-family:tahoma,verdana,arial,sans-serif;
    font-size:20px;
    line-height:35px;
}

#theBar .searchBar {
    position:absolute;
    left:120px;
}
#theBar .searchBar input[type="text"] {
    background: url(img/ossearch.png) no-repeat 10px 6px #fff;
    font-size: 12px;
    width: 350px;
    padding-left:35px;
}

#theBar .leftBar {
    position:absolute;
}

#theBar .userBar {
    position:absolute;
    right:0px;
}

#theBar h1 {
    text-align:right;
    padding-right:5px;
    font-weight:lighter;
    letter-spacing: 0.2em;
}

/* contextual menu displayed after long click on the map */
#menu {
    position:absolute;
    cursor:pointer;
    width:auto;
    height:51px;
    display:none;
    z-index:10000;
}
#menu img {
    vertical-align:middle;
}
#menu .cross {
    position:absolute;
    top:-13px;
    left:-8px;
    height:14px;
    width:14px;
}
#menu .item {
    position:absolute;
    height:20px;
    width:180px;
    padding:5px;
    background-color:#eee;
    border: 1px solid #ccc;
    -webkit-transform: rotate(-10deg);	
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#menu .item:hover {
    background-color:#ccc;
    border: 1px solid #eee;
}

/* Coordinates following the mouse */
#coords {
    position:absolute;
    background-color:transparent;
    text-align:left;
    text-shadow: #000 1px 1px 1px;
    font-size:0.8em;
    width:200px;
    overflow:hidden;
    z-index:10000;
}

/* Semi-transparent mask - displayed when an ajax call is performed for example */
.mask {
    position:absolute;
    background-color:rgba(0,0,0,0.5);
    width:100%;
    z-index:35000;
}
.mask .content {
    position:relative;
    text-transform:uppercase;
    margin:auto;
    top:50%;
    width:30%;
    text-align:center;
    z-index:35001;
}
.mask .loading {
    margin-top:10px;
}
.mask .loading a {
    background-color:#666;
}

/**
 * Help
*/
.help .item {
    position:absolute; /* top/left must be set for each help blocks */
    text-align:justify;
    height:auto;
    padding:20px;
    font-size:1.1em;
    line-height:16px;
}
.help p {
    padding-top:10px;
}

/*======================================
* 
*  Tooltip
*
*=======================================*/
#tooltip { position:absolute; display:none; padding: 5px; background-repeat: no-repeat; z-index:36000; overflow:hidden; }
#tooltip .inner { padding: 5px 8px 4px 8px; background-color: #000; max-width: 200px; text-align: left; }


/*======================================
* 
* .tools class
*  
*  Used to display action tools within
*     - FeatureInfo popup
*     - LayersManager tab
*     - TimeLine
*
*======================================*/
.tools {
    cursor:pointer;
}
.tools .item {
    text-align:center;
    white-space:nowrap;
    line-height:24px;
    padding:6px 7px 5px 7px;
    height:24px;
}
.tools .item:hover {
    background-color:#c76400;
}
.tools .item img {
    max-width:16px;
    max-height:16px;
}

/* LayersManager specific */
.lm .tools {
    position:absolute;
    top:24px;
    right:0px;
    background-color:#000;
    border-top: 1px dashed #fff;
}

/*=========================================
 * Toolbars
 *
 *      .tb is common to all toolbars
 *
 *      .tbnwh : North West Horizontal
 *      .tbnwv : North West Vertical
 *
 *      .tbneh : North East Horizontal
 *      .tbnev : North East Vertical
 *
 *      .tbswh : South West Horizontal
 *      .tbswv : South West Vertical
 *
 *      .tbseh : South East Horizontal
 *      .tbsev : South East Vertical
 *
===========================================*/
.tb .item {
    position:relative;
    text-align:center;
    white-space:nowrap;
}

/* Position for North toobar */
.tbneh, .tbnev, .tbnwh {
    top:130px;
}

.tbnwv {
    top:110px;
}

/* Position for South toolbar */
.tbseh, .tbsev, .tbswh, .tbswv {
    bottom:20px;
}

/* Position for East Horizontal toolbar */
.tbneh, .tbseh {
    right:20px;
}

/* Position for East Vertical toolbar */
.tbnev, .tbsev {
    right:0px;
}

/* Position for West Horizontal toolbar */
.tbnwh, .tbswh {
    left:20px;
}

/* Position for West Vertical toolbar */
.tbnwv, .tbswv {
    left:0px;
}

/* Horizontal toolbar */
.tbh {
    width:auto;
    height:40px;
}
.tbh .item {
    min-width:40px;
    height:100%;
    display:inline-block;
}
.tbh .item img {
    max-width:40px;
    max-height:40px;
}
/* Vertical toolbar */
.tbv {
    height:auto;
    width:40px;
}
.tbv .item {
    min-width:100%;
    height:40px;
}

/* Common definition for predefined toolbars */
.tbnwh, .tbnwv, .tbneh, .tbnev, .tbswh, .tbswv, .tbseh, .tbsev {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    font-size:2em;
    line-height:37px;
}

/*==========================================
*
* South panel
*
*===========================================*/
.pns {
    position:absolute;
    left:0px;
    z-index:20000;
}
.pns .mask {
    background-color:rgba(243,150,28,0.9);
}
.pns .mask .content {
    font-size:1.8em;
}

.pnsit {
    background-color:rgba(243,150,28,0.9);
}
.pnsi,.pnsit {
    border-top: 2px dashed #fff;
    border-right: 2px dashed #fff;
}

/* =======================================
 * SidePanel
 * ======================================*/
.spn {
    position:absolute;
    top:0px;
}

/*========================================
*
*    Search panel
*
===========================================*/
.sp {
    width:80%;
    height:auto;
    max-height:80%;
    top:100px;
    line-height:30px;
}
.sp .content {
    padding:10px;
}
.sp a:hover{
    border-bottom:1px solid #c76400;
}

/*======================================
*
*   Popup window
*
========================================*/
.po {
    position:absolute;
    display:none;
}

/* Popup fixed size */
.pona {
    top:150px;
    width:500px;
}

/* Popup auto size */
.poa {
    top:150px;
    width:auto;
    max-width:500px;
    height:auto;
}

/* Popup search */
.sp {
    width:80%;
    max-height:80%;
}

.po p {
    padding-left:10px;
}

.po .body {
    overflow:auto;
}

.po .header {
    background-color:#eee;
    color:#666;
    text-transform:uppercase;
    text-align:center;
    font-weight: bold;
    height:40px;
    padding-top:10px;
    width:100%;
}

.po .footer {
    height:40px;
    line-height:40px;
    text-align:center;
    width:100%;
}
.po .generic {
    background-color:#fff;
    padding:15px;
}

.po .title {
    text-transform:uppercase;
    font-weight: bold;
}

.po .description {
    padding:5px 0px 5px 10px;
}

/* For share popup */
.po .share {
    text-align:center;
    margin:10px 0px;
    font-size:2em;
}
.po .share .embed {
    margin-top:25px;
}
.po .share textarea {
    margin-top:10px;
    width:100%;
    resize:none;
}
.po .share a {
    margin-right:10px;
}

/* For search popup */
.po .search {
    margin:10px 0px;
    font-size:1.2em;
}
.po .search .launch {
    text-align:center;
    font-size:1.2em;
    padding:10px;
}
.po .search .launch a {
    margin-right:10px;
}

/* For popup images */
.imageContent {
    background-color:#fff;
    z-index:38001;
}
.imageContent .innerTitle {
    text-align:center;
    overflow:hidden;
}

/* Popup with arrow (used by FeatureInfo fmenu) */
.apo, .napo {
    background-clip: padding-box;
    border: 1px solid #ccc;
    padding: 5px;
    width:auto;
    height:100%;
    position: relative;
}
.apo:before{
    content: ' ';
    border-color: #ccc transparent transparent;
    border-style: solid;
    border-width: 11px;
    position: absolute;
    bottom: -22px;
    left: 18px;
}
.apo:after{
    content:' ';
    border-color: #eee transparent transparent;
    border-style: solid;
    border-width: 9px;
    position: absolute;
    bottom: -18px;
    left: 20px;
}

/* Hilite class for feature information */
.featureHilite {
    position:absolute;
    border: 1px solid #fff;
    max-width:250px;
    padding:10px;
    overflow:hidden;
    z-index:10000;
}

/*=======================================
*
* FeatureInfo Popup
*
=========================================*/
.fipopup {
    position:absolute;
    background-color:#000;
    width:auto;
    min-width:200px;
    padding-right:30px;
    height:40px;
    color:#fff;
    display:none;
    z-index:20000;
}
.fipopup.apo:after {
    border-color: #000 transparent transparent;
}
.fipopup .body {
    overflow:hidden;
}

.fi {
    width:100%;
    height:100%;
    text-align:center;
}
.fi .header {
    font-size:2em;
    padding:50px;
    text-transform:uppercase;
}
.fi .title {
    overflow:hidden;
    text-overflow:ellipsis;
}
.fi .ql {
    margin:20px;
    border-right: 3px dashed #fff;
}
.fi .info {
    font-size:1.5em;
    text-align: justify;
    padding:0px 30px;
    /*overflow-y: auto;*/
}
.fi .info table {
    margin-left:10px;
    width:45%;
}
.fi td {
    padding:5px 0px;
}
.fi tr:nth-child(even) {
    background:#666;
}

/* Micro Info popup */
.mip {
    position:absolute;
    top:90px;
    right:50px;
    background-color:rgba(0, 0, 0, 0.9);
    color:#fff;
    width:300px;
    padding:20px;
    font-size:1.1em;
}
.mip h2 {
    color:#f3961c;
    padding-bottom:5px;
}
.mip p {
    text-align:justify;
}
/* message */
.message {
    position:absolute;
    height:auto;
    max-width:80%;
    background-color:transparent;
    display:none;
    z-index:38000;
}
.message .content {
    height:auto;
    width:auto;
    text-align:center;
    background-color:#fff;
    border: 1px solid #ccc;
    padding:20px;
    z-index:38001;
}
.message span.close {
    font-size:1.5em;
    color:#666;
}

/* Tab definition */
a.tab {
    position:absolute;
    background-color:rgba(0,0,0,0.5);
    font-size:10px;
    padding:0px 36px 0px 36px;
    line-height:24px;
    height:24px;
    text-transform:uppercase;
    cursor:pointer;
}
a.ptab {
    padding:0px 5px 0px 5px !important;
    font-size:2em;
    background-color:#000;
}
a.tab img {
    vertical-align:middle;
    height:16px;
}

.tab span.loading {
    background:transparent url(img/loading.gif) no-repeat center center;
    position:absolute;
    right:10px;
    top:0px;
    width:16px;
    height:24px;
}
/*
 * Pure CSS close button
*/
.tab span.close {
    top:0px;
    left:5px;
    width:15px;
    height:15px;
    font-size:1.5em;
    color:#eee;
}

/*
 * TimeLine
*/
#timeLine
{
    background-color:#000;
}

#timeLine {
    position:absolute;
    left:0px;
    height:40px;
    width:100%;
    color:#fff;
    z-index:34500;
}
#timeLine .mask{
    position:absolute;
    width:100%;
    height:40px;
    line-height:20px;
    text-align:center;
    background-color:rgba(255, 0, 0, 0.7);
    display:none;
    text-transform:uppercase;
    cursor:pointer;
    z-index:20100;
}
#timeLine .tools {
    position:absolute;
    display:inline;
    width:auto;
    height:40px;
    right:35px;
    z-index:100;
}
#timeLine .tools .item {
    text-align:center;
    white-space:nowrap;
    line-height:40px;
    padding-left:8px;
    padding-right:8px;
    height:40px;
    display:inline-block;
}
.timeLine {
    position:absolute;
    top:0px;
    left:35px;
    right:35px;
    height:100%;
}

.ui-rangeSlider{
    font-size:1em;
    height:100%;
    z-index:1;
}

.ui-rangeSlider-innerBar{
    position:absolute;
    overflow:hidden;
    left:0px;
    height:100%;
    background:transparent;
    z-index:2;
}

.ui-rangeSlider-scaleBar{
    position:absolute;
    left:0px;
    height:100%;
    z-index:1;
}

.ui-rangeSlider-scaleUnit{
    position:absolute;
    font-size:0.8em;
    color:#fff;
    bottom:0px;
    z-index:1;
}
.ui-rangeSlider-bigScaleUnit{
    position:absolute;
    height:100%;
    font-size:1.5em;
    z-index:3;
}
.ui-rangeSlider-bgy{
    position:absolute;
    line-height:40px;
    height:100%;
    z-index:1;
}
.ui-rangeSlider-bgm{
    position:absolute;
    line-height:20px;
    height:20px;
    bottom:0px;
    z-index:2;
}

.ui-rangeSlider-handle{
    position:absolute;
    width:10px;
    height:40px;
    margin:0px;
    background:rgba(255,255,255, 0.6);
    cursor:col-resize;
    z-index:4;
}
.ui-rangeSlider-bar{
    position:absolute;
    height:40px;
    margin: 1px 0px;
    background-color:transparent;
    cursor:move;
    cursor:grab;
    cursor: -moz-grab;
    top:-1px;
    z-index:3;
}
.ui-rangeSlider-mask {
    position:absolute;
    height:40px;
    margin: 1px 0px;
    background-color:rgba(0,0,0, 0.8);
    top:-1px;
    z-index:3;
}

.ui-rangeSlider-bar.ui-draggable-dragging{
    cursor:-moz-grabbing;
    cursor:grabbing;
}


.ui-rangeSlider-container{
    position:absolute;
    top:0px;
    height:100%;
    margin:0px 0px 50px 0px;
}

.ui-rangeSlider .ui-rangeSlider-container{
    margin:0;
}

.ui-rangeSlider-label{
    padding:10px 10px;
    margin:0px 2px 2px;
    background-color:#f3961c;
    cursor:col-resize;
    z-index:50;
}

.userBar img {
    vertical-align: middle;
    max-height: 16px;
}

/*=======================================
 *
 * Generic classes
 *
 =========================================*/

.shadow {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

/* CSS definition for subscript text */
.subscript {
    font-size:xx-small;
    vertical-align:bottom;
    top:1em;
    position:relative;
}

/* Expand width and height to the max */
.whole {
    /*height:100%;
    width:100%;
    overflow:auto;*/
}

.hover {
    cursor:pointer;
}
.hover:hover {
    background-color:rgba(199,100,0,0.3);
}
.active, .selected {
    background-color:#eee;
}
.inactive {
    -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}
.bold {
    font-weight:bold;
}

/* Button */
.button {
    background: #5C6166;
    font-family:Arial, sans-serif;
    display: block;
    padding: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
}
.button:hover {
    background:#939CA3;
}

.button.inline {
    display:inline;
}
.button.colored {
    background: #E57300;
}
.button.colored:hover {
    background: #D17000;
}

.button.validate {
    background:olivedrab;
}
.button.facebook {
    background:#3B5998;
}
.button.twitter {
    background:#4099FF;
}
.button.email {
    background:#939CA3;
}
.button.signin {
    background:#f00;
}
.button.signin:hover {
    background:#666;
}
.button.signup {
    background:#000;
}
.button.signup:hover {
    background:#666;
}

/* Pure CSS close button */
.close {
    position:absolute;
    top:0px;
    right:-8px;
    cursor:pointer;
    width:30px;
    height:30px;
    font-size:2em;
    color:#666;
}
.close:before {
    content:"\00D7";
}

.image {
    padding:0px;
    background-color:transparent;
}

.image:hover {
    border-bottom:1px solid #c76400;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.jstfy {
    text-align: justify;
}

.big {
    font-size:1.5em;
}

.small {
    font-size:0.8em;
}
.smaller {
    font-size:0.5em;
}

.padded {
    padding:10px;
}

.paddedleft {
    padding-left:10px;
}

.paddedright {
    padding-right:10px;
}

.warning {
    background-color:#f00;
    padding:4px;
}

.marged {
    margin:10px;
}

.hidden {
    -moz-opacity:.40; filter:alpha(opacity=40); opacity:.40;
}
.clickable {
    cursor: pointer;
}
.sortable {
    cursor: move;
}

/*
 * A drag&drop zone - see M.DDZone
*/
.ddzone {
    border: 2px dashed #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    color: #BBBBBB;
    font: 20pt bold,"Vollkorn";
    padding: 25px;
    text-align: center;
}
.ddhover {
    background-color:pink;
    color:#FFF;
    border: 2px dashed #FFF;
}

/* ===============================
 * Thumbnail
 * ============================== */
.thumbs {
    margin-top:2px;
    padding:2px;
    height:50px;
    width:50px;
    cursor:pointer;
}
.thumbs:hover img, .thumbs.hilite img {
    border:2px solid #f3961c;
}
.thumbs img {
    width:44px;
    height:44px;
    background-color:#000;
    border:2px solid #f9f9f9;
}
.thumbs span.title {
    position:absolute;
    top:3px;
    bottom:3px;
    left:3px;
    right:3px;
    background-color:#333;
    font-size:9px;
    padding:2px 2px;
    border-top:1px solid #111;
    display:block;
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
    max-height:50px;
    opacity:0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

/*===================================
 *
 * OpenLayers classes redefinition
 *
 ====================================*/

div.olControlMousePosition {
    font:normal 12px Arial,Tahoma,Sans-serif;
    position: absolute;
    top: 0px;
}

/* IMPORTANT ! */
.olControlPanZoom {
    display:none;
}

.olHandlerBoxZoomBox {
    border: 2px dashed #f3961c;
    position: absolute;
    background-color: #fff;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 1px 0px 1px 1px;
    background-color:#000;
    filter:alpha(opacity=70);
    opacity:0.7;
}

.olControlOverviewMapMinimizeButton {
    right:0px;
    bottom:0px;
}

.olControlOverviewMapMaximizeButton {
    right:0px;
    bottom:0px;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("./img/transparent.png");
    cursor: move;
    border: 1px solid white;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("./img/cross.png");
    background-repeat: no-repeat;
    background-position: center;
}
.olControlAttribution {
    right:260px;
    bottom:0px;
    height:18px;
    width:auto;
    max-width:400px;
    text-align:left;
}
.olControlAttribution img{
    vertical-align:middle;
}

/* Avoid pink tiles*/
.olImageLoadError {
    background-color: transparent;
    opacity:0.5;
    filter:alpha(opacity=50); /* IE */
}

/* ScaleLine position */
.olControlScaleLine {
    top:60px;
    left:auto;
    right:20px;
    height:20px;
}
.olControlScaleLineTop, .olControlScaleLineBottom {
    background-color:#eee;
}

#__CONTROL_ATTRIBUTION__ {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
    font-size: 0.9em;
}

/*============================
 *
 * Plugins specific
 *
 ============================*/

/* LayersManager.js */
.lm {
    position:absolute;
    background-color:#000;
    left:0px;
    width:100%;
    height:58px;
    z-index:20100;
}

/* North and South positionning differs */
.lmn {
    top:-59px;
}
.lmn a.tab{
    bottom:-24px;
}

.lms {
    bottom:-59px;
}
.lms a.tab, .pns a.tab{
    top:-24px;
}

.lm .content {
    position:absolute;
    left:0px;
    width:100%;
    height:58px;
    text-transform:uppercase;
}
.lm .content h2 {
    padding-top:20px;
}
.lm .content .info{
    height:20px;
    overflow:hidden;
    position:absolute;
    top:58px;
    width:100%;
}
.lm .content .previous, .lm .content .next {
    position:absolute;
    top:10px;
    font-size:3em;
    margin:0px;
    width:20px;
    height:100%;
    line-height:100%;
    text-align:center;
    z-index:10;
}
.lm .content .previous {
    left:5px;
}

.lm .content .next {
    right:5px;
}
.lm .content .previous a, .lm .content .next a {
    color:#eee;
}
.lm .thumbsWrapper{
    height:100%;
    left:35px;
    right:35px;
    overflow:hidden;
    position:absolute;
    top:0;
}
.lm .mask{
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.5);
    display:none;
    text-transform: uppercase;
    z-index:20100;
}
.lm .maskh{
    cursor:pointer;
}
.lm .content ul{
    list-style:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
    position:absolute;
    left:0px;
    top:0px;
}
.lm .content ul li {
    position:relative;
    float:left;
}
/* BackgroundsManager.js, Context.js and UserManagement.js */
.bgm, .shr, .umgmt {
    display:inline;
    width:auto;
    height:35px;
}
.bgm .item, .shr .item, .umgmt .item {
    width:25px;
    height:100%;
    display:inline-block;
}

.umgmt .item {
    width:35px;
    height:100%;
    margin:0px 3px;
    display:inline-block;
}

/* Share.js */
.shr {
    margin-left:20px;
}

/* AddLayer.js */
#ddzone {
    position:absolute;
    top:0px;
    left:0px;
    font-size:10em;
    width:100%;
    height:100%;
    margin:auto;
    display:none;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    z-index:34000;
}
#ddzone .content {
    position:relative;
    margin:auto;
    top:0px;
    width:100%;
    height:100%;
    text-align:center;
}

/* Catalog.js */
.father {
    font-weight: bold;
}
.catalog img {
    height:32px;
    width:32px;
    vertical-align: middle;
}
.catalog th {
    text-align:left;
    padding:5px;
}
.catalog td {
    padding:5px;
    font-size:0.8em;
    border-top:1px solid #ccc;
}

/* Geonames.js */
#gnm {
    position:absolute;
    width:auto;
    min-width:200px;
    height:40px;
    display:none;
    background-color:#f3961c;
    z-index:10100;
}
#gnm.apo:after {
    border-color: #f3961c transparent transparent;
}
#gnm .header{
    float:none;
    padding:5px 5px 5px 5px;
    text-align:left;
    vertical-align:middle;
}
#gnm .title {
    font-weight: bold;
}
#gnm img {
    max-height:16px;
    max-width:16px;
}

#gnm .item {
    font-size:1.5em;
    padding-right:10px;
}

/* UserManagement.js */
.loginPanel {
    margin:30px;
}
.loginPanel input {
    margin:10px 0px;
}
.loginPanel .signin {
    margin:20px 0px;
}
.loginPanel .register {
    margin:20px 0px;
    color:#999;
}
#rememberMe {
    margin-left:20px;
}

/* UTFGrid */
.utfginfo {
    position:absolute;
    cursor:pointer;
    color:#fff;
    text-transform: uppercase;
    background-color:rgba(53, 153, 255, 0.6); /* #3399ff */
    padding:5px;
    top:200px;
    left:50px;
    width:auto;
    height:30px;
    line-height:30px;
    display:none;
    z-index:30000;
}
.utfginfo:hover {
    background-color:#3399ff;
}

/* slacker */
#slacker {
    position:absolute;
    top:35px; /* Just below #theBar */
    width:100%;
    height:45px;
    z-index:20000;
}
#slacker .container {
    position:absolute;
    color:#000;
    text-shadow: #fff 1px 1px 1px;
    display:inline;
    top:5px;
    left:35px;
    right:35px;
    height:100%;
}
#slacker .element {
    width:100px;
}

#slacker .icon {
    width:30px;
}

/* slacker table layout */
#slacker .title {
    padding-top:5px;
}
td.value {
    width:30px;
}
td.clear {
    padding:0 10px;
}

/* From jQuery UI */
.ui-slider { position: relative; text-align: left; vertical-align: middle; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal .ui-slider-handle { top:0; }
.ui-slider-horizontal .ui-slider-range { top:0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
/* End from jQuery UI */

.ui-slider-horizontal {
    background:#eee;
    height: 15px !important;
}

.ui-slider-range {
    background:olivedrab !important;
}

.ui-slider-handle {
    position: absolute;
    background: none repeat scroll 0 0 rgba(128,128,128, 0.4);
    cursor: col-resize;
    height: 5px !important;
    width: 5px !important;
    outline: none;
    margin:0;
    z-index:4;
}
/* WPSClient */
.wpsclient {
    height:auto;
    padding:20px;
    font-size:1.1em;
    line-height:16px;
}
.wpsclient a {
    color:#fff;
}
.wpsclient h1 {
    color:#fff;
}
.wpsclient p {
    padding-top:10px;
}
.wpsclient .input, .wpsclient .output {
    padding-right:30px;
    white-space:nowrap;
}
.wpsclient .processes {
    padding:10px;
    height:100px;
    width:auto;
    line-height:35px;
}
.wpsclient .processes a.active {
    background-color:#f00;
}
.wpsclient .describe {
    background:#eee;
    padding:5px 100px 5px 5px;
    margin-bottom:10px;
}
.wpsclient .describe h1 {
    color:#f00;
}
.wpsclient .describe .execute {
    position:absolute;
    padding:10px;
    top:25px;
    right:20px;
}
.wpsclient .describe .execute img {
    height:16px;
    vertical-align:middle;
} 
.wpsclient .list {
    padding:5px 5px 5px 15px;
    height:100px;
    line-height:35px;
}
.wpsclient .hilite {
    background-color:olivedrab;
    padding:4px;
}

/*
 * Search suggest is above mask
*/
.searchSuggest {
    position:absolute;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    z-index:36000;
}
li.as-result-item {
    margin: 0 0 0 0;
    padding: 5px 12px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
li.as-result-item img {
    width:32px;
    height:32px;
}

li:first-child.as-result-item {
    margin: 0;
}
li.as-result-item.active {
    background-color:#f3961c;
    color: #fff;
}
li.as-result-item em, li.as-result-item .val {
    font-weight:bold;
    background-color:#666;
    color:#fff;
    padding: 0 5px;
}
/* RastersManager */
.rm {
    padding:30px;
}
.rm table {
    width:100%;
    text-align:left;
}
.rm table tr {
    border: 2px solid #fff;
}
.rm table tr:nth-child(even) {
    background:#666;
}

/* QuickSelector */
.quickselector {
    position:absolute;
    bottom:10px;
    right:10px;
    z-index:20000;
}
.quickselector ul li {
    position:relative;
    float:left;
}
.quickselector .thumbs img {
    border:2px solid #000;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-opacity:.90; filter:alpha(opacity=90); opacity:.90;
}
.quickselector .thumbs:hover img {
    -moz-opacity:1; filter:alpha(opacity=100); opacity:1;
}