/*
 * mapshup - Webmapping made easy
 * http://mapshup.info
 *
 * Copyright Jérôme Gasperi, 2011.12.08
 *
 * jerome[dot]gasperi[at]gmail[dot]com
 *
 * This software is a computer program whose purpose is a webmapping application
 * to display and manipulate geographical data.
 *
 * This software is governed by the CeCILL-B license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL-B
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 *
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 *
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 *
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL-B license and that you accept its terms.
*/
/**
 *
 * RESET CSS - From http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*********************************************
 * Beginning of mapshup css definition
 *
 *  blue  : #375863 57,88,99
 *  gris : 999  153, 153,153
 *  orange clair : #f3961c 243,150,28
 *  orange foncé : #c76400 199,100,0
 *  Sulphur sulphur yellow   [255,200,50]   #ffc832
 *  Green RGB: 183, 213, 81 b7d551
 *  facebook navy blue #3B5998
 *
 ***********************************************/

/***********************************************
 *
 * CSS pre-defined properties
 *
 ***********************************************/
html,body {
    height:100%;
}
body {
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:12px;
    background-color:transparent;
    /* Everything is on one page */
    overflow:hidden;
}

a {
    color:#3b5998;
    text-decoration:none;
    padding:5px;
    outline:none;
}

a:hover {
    outline:none;
}

img {
    border-width:0px;
}

img.middle {
    vertical-align: middle;
}

img.square {
    height:75px;
    width:75px;
}

ul {
    list-style:none;
}

input[type="password"],input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 8px;
}
input:focus,input[type="password"]:hover,input[type="text"]:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
input:placeholder {
    color:#666;
}

/***********************************
 *
 * Common shared properties
 *
 ***********************************/

/* Darker color - BLACK */
body, .pfi, .pfi .header, .pn .header, .po .body, .active, .selected
{
    color:#000;
}
/* Lighter color - WHITE */
#coords,
#theBar,
#tooltip .inner,
#theBar .logo a,
#menu .item:hover,
#fmenu .actions a,
a.tab,
.button,
.button a,
.mask .content,
.mask .loading a,
.help span.close,
.help h1,
.help span.hilite,
.tbnwh, .tbnwv, .tbneh, .tbnev, .tbswh, .tbswv, .tbseh, .tbsev,
.pn,
.apo,
.hover:hover,
.featureHilite,
.olControlAttribution,
.lm,
.lm .thumbs .mask,
.lm .thumbs ul li a
{
    color:#fff;
}

/* Main colored background-color - ORANGE CLAIR */
#theBar,
.tbnwh, .tbnwv, .tbneh, .tbnev, .tbswh, .tbswv, .tbseh, .tbsev,
.apo,
.featureHilite,
a.tab.active,
a.tab:hover,
.tab .tools
{
    background-color:#f3961c;
}

/* Box shadow */
#theBar,
a.tab,
.shadow,
.tbnwh, .tbnwv, .tbneh, .tbnev, .tbswh, .tbswv, .tbseh, .tbsev,
.tab .tools,
.lm .thumbs
{
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0 gba(0, 0, 0, 0.5);
}

/***********************************
 *
 * mapshup general structure 
 *
 ***********************************/

/* mapshup container */
.wrapper {
    min-height:100%;
    height: auto !important;
    height: 100%;
    margin:0px 0px -100px;
}


/* map container */
#mapcontainer {
    position:absolute;
    width:100%;
    height:100%;
}
#map {
    position:absolute;
    background:#ddd url(img/mapbg.png);
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow:hidden;
}
.map {
    position:absolute;
    top:35px; /* Fullscreen map */
    left:0px;
    right:0px;
    bottom:0px;
    overflow:hidden;
}

/* header bar */
#theBar {
    position:absolute;
    top:0px;
    left:0px;
    height:35px;
    line-height:35px;
    width:100%;
    overflow:hidden;
    z-index:34500;
}
#theBar .container {
    position:absolute;
    top:0px;
    left:35px;
    right:35px;
    height:100%;
}
#theBar .logo {
    position:absolute;
    left:0px;
}
#theBar .logo a {
    font-family:tahoma,verdana,arial,sans-serif;
    font-size:20px;
    line-height:35px;
}

#theBar .searchBar {
    position:absolute;
    left:120px;
}
#theBar .searchBar input[type="text"] {
    background: url(img/ossearch.png) no-repeat 10px 6px #fff;
    font-size: 12px;
    width: 350px;
    padding-left:35px;
}

#theBar .leftBar {
    position:absolute;
}

/* Login class */
#theBar .login {
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:auto;
    text-align:right;
}
#theBar h1 {
    text-align:right;
    padding-right:5px;
    font-weight:lighter;
    text-transform: uppercase;
    font-size:1.2em;
    letter-spacing: 0.2em;
}

/* contextual menu displayed after long click on the map */
#menu {
    position:absolute;
    cursor:pointer;
    width:auto;
    height:51px;
    display:none;
    z-index:10000;
}
#menu img {
    vertical-align:middle;
}
#menu .cross {
    position:absolute;
    top:-13px;
    left:-8px;
    height:14px;
    width:14px;
}
#menu .item {
    position:absolute;
    height:20px;
    width:180px;
    padding:5px;
    background-color:#eee;
    -webkit-transform: rotate(-10deg);	
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#menu .item:hover {
    background-color:#666;
    text-shadow: black 1px 1px 3px;
}

/* Feature action menu - displayed after clicking on a feature */
#fmenu {
    display:none;
    width:auto;
    max-width:250px;
    text-overflow:ellipsis;
    height:auto;
    z-index:10000;
}
#fmenu .actions {
    height:30px;
    white-space: nowrap;
    text-align:center;
}
#fmenu .item {
    cursor:pointer;
    padding:3px;
    margin:0px 5px;
}
#fmenu .item img {
    height:16px;
    width:auto;
}
#fmenu .title {
    text-align:center;    
}

/* Coordinates following the mouse */
#coords {
    position:absolute;
    background-color:transparent;
    text-align:left;
    text-shadow: #000 1px 1px 1px;
    font-size:0.8em;
    width:200px;
    overflow:hidden;
    z-index:10000;
}

/* Semi-transparent mask - displayed when an ajax call is performed for example */
.mask {
    background-color:rgba(0,0,0,0.5);
}
.mask .content {
    position:relative;
    text-transform:uppercase;
    margin:auto;
    top:50%;
    width:30%;
    text-align:center;
    z-index:35001;
}
.mask .loading {
    margin-top:10px;
}
.mask .loading a {
    background-color:#666;
    box-shadow: 1px 1px 5px 0 rgba(128,128,128,0.5);
    text-shadow: black 1px 1px 3px;
}

/**
 * Help
*/
.help {
    background-color:rgba(243,150,28,0.7);
}
.help span.close {
    font-size:5em;
    top:10px;
    right:10px;
    width:auto;
    height:auto;
}
.help .item {
    position:absolute; /* top/left must be set for each help blocks */
    text-align:justify;
    height:auto;
    padding:20px;
    font-size:1.1em;
    line-height:16px;
}
.help h1 {
    font-size:1.2em;
    text-transform: uppercase;
}
.help p {
    padding-top:10px;
}

/* Tooltip */
#tooltip { position:absolute; display:none; padding: 5px; background-repeat: no-repeat; z-index:36000; }
#tooltip .inner { padding: 5px 8px 4px 8px; background-color: #000; max-width: 200px; text-align: left; }

/**
 * Toolbars
 *
 *      .tb is common to all toolbars
 *
 *      .tbnwh : North West Horizontal
 *      .tbnwv : North West Vertical
 *
 *      .tbneh : North East Horizontal
 *      .tbnev : North East Vertical
 *
 *      .tbswh : South West Horizontal
 *      .tbswv : South West Vertical
 *
 *      .tbseh : South East Horizontal
 *      .tbsev : South East Vertical
 *
*/
.tb .item {
    position:relative;
    text-align:center;
    white-space:nowrap;
}

/* Position for North toobar */
.tbneh, .tbnev, .tbnwh {
    top:130px;
}

.tbnwv {
    top:150px;
}

/* Position for South toolbar */
.tbseh, .tbsev, .tbswh, .tbswv {
    bottom:20px;
}

/* Position for East Horizontal toolbar */
.tbneh, .tbseh {
    right:20px;
}

/* Position for East Vertical toolbar */
.tbnev, .tbsev {
    right:0px;
}

/* Position for West Horizontal toolbar */
.tbnwh, .tbswh {
    left:20px;
}

/* Position for West Vertical toolbar */
.tbnwv, .tbswv {
    left:0px;
}

/* Horizontal toolbar */
.tbh {
    width:auto;
    height:40px;
}
.tbh .item {
    min-width:40px;
    height:100%;
    display:inline-block;
}
.tbh .item img {
    max-width:40px;
    max-height:40px;
}
/* Vertical toolbar */
.tbv {
    height:auto;
    width:40px;
}
.tbv .item {
    min-width:100%;
    height:40px;
}

/* Common definition for predefined toolbars */
.tbnwh, .tbnwv, .tbneh, .tbnev, .tbswh, .tbswv, .tbseh, .tbsev {
    font-size:2em;
    line-height:37px;
}

/* Generic panel */
.pn {
    position:absolute;
    background-color:#eee;
    z-index:20000;
}
.pn a {
    padding:0px;
    background-color:transparent;
}
.pn a:hover{
    background-color:transparent;
    box-shadow: 0px 0px 0px 0 transparent;
    border-bottom:1px solid #c76400;
}
.pn .header {
    text-transform:uppercase;
    font-size:1.3em;
    text-align: center;
    padding:5px 0px;
}
.pn .expdbl {
    overflow:auto;
}
.pn .west {
    float:left;
    line-height:30px;
    border-right: 1px solid #ccc;
    width:59%;
    height:100%;
}
.pn .east {
    float:right;
    text-align:left;
    width:40%;
    height:100%;
}
.pn .block {
    padding:5px;
    margin-bottom:5px;
} 

/* South panel */
.pns {
    position:absolute;
    left:0px;
    width:100%;
    background-color:#000;
    z-index:20000;
}

/* Popup window */
.po {
    position:absolute;
    display:none;
    border: 1px solid rgba(0, 0, 0, 0.333);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    z-index:38000;
}

/* Popup fixed size */
.pona {
    top:50px;
    width:500px;
    height:auto;
}

/* Popup auto size */
.poa {
    width:auto;
    height:auto;
}

.po p {
    padding-left:10px;
}
.po .title {
    text-transform:uppercase;
    font-weight: bold;
}

.po .description {
    padding:5px 0px 5px 10px;
}
.po input[type="text"],.po input[type="password"],.po textarea  {
    width:95%;
    font-size:1em;
}

.po .body {
    background-color:#fff;
    padding:10px;
    overflow:auto;
}

.po .header {
    background-color:#eee;
    color:#666;
    text-transform:uppercase;
    font-weight: bold;
    height:40px;
    line-height:40px;
    width:100%;
}

/* For share popup */
.po .share {
    text-align:center;
    margin:10px 0px;
    font-size:2em;
}
.po .share .embed {
    margin-top:25px;
}
.po .share textarea {
    margin-top:10px;
    width:100%;
    resize:none;
}
.po .share a {
    margin-right:10px;
}

/* For popup images */
.imageContent {
    background-color:#fff;
    z-index:38001;
}
.imageContent .innerTitle {
    text-align:center;
    overflow:hidden;
}

/* Popup with arrow (used by FeatureInfo fmenu) */
.apo {
    background-clip: padding-box;
    border: 1px solid #eee;
    padding: 10px;
    width:auto;
    height:100%;
    position: relative;
}
.apo:before{
    content: ' ';
    border-color: transparent transparent #eee;
    border-style: solid;
    border-width: 11px;
    position: absolute;
    top: -22px;
    right: 18px;
}
.apo:after{
    content:' ';
    border-color: transparent transparent #f3961c;
    border-style: solid;
    border-width: 9px;
    position: absolute;
    top: -18px;
    right: 20px;
}

/* Hilite class for feature information */
.featureHilite {
    position:absolute;
    max-width:250px;
    padding:10px;
    overflow:hidden;
    z-index:10000;
}

/* FeatureInfo panel */
.pfi .header {
    padding:20px 0px 5px 0px;
    font-size:1em;
    font-weight: bold;
    text-align:left;
}
.pfi .title {
    overflow:hidden;
    cursor:pointer;
    text-overflow:ellipsis;
}
.pfi .info {
    padding:5px;
    margin-bottom:5px;
}
.pfi .info table {
    width:100%;
}
.pfi .thumb {
    text-align: center;
    padding:5px;
    margin-bottom:5px;
}
.pfi .thumb img {
    max-height:200px;
    max-width:270px;
}
.pfi .sheader {
    height:30px;
    line-height:30px;
    text-transform:uppercase;
    background-color:#fff;
}
.pfi .sheader ul {
    height:30px;
    width:auto;
}
.pfi .sheader li {
    list-style:none;
    float:left;
}
.pfi td {
    padding:5px 0px;
}

.pfi tr:nth-child(even) {
    background:#ccc;
}

#pfit {
    padding-bottom:10px;
}
#pfit li {
    padding-left:5px;
    display:inline;
}

/* message */
.message {
    position:absolute;
    height:auto;
    max-width:80%;
    background-color:transparent;
    display:none;
    z-index:38000;
}
.message .content {
    height:auto;
    width:auto;
    text-align:center;
    background-color:#fff;
    padding:20px;
    z-index:38001;
}
.message span.close {
    font-size:1.5em;
    color:#666;
}

/* Tab definition */
a.tab {
    position:absolute;
    background-color:rgba(0,0,0,0.5);
    font-size:10px;
    padding:0px 36px 0px 36px;
    line-height:24px;
    height:24px;
    text-transform:uppercase;
    cursor:pointer;
}
a.ptab {
    padding:0px 5px 0px 5px !important;
    font-size:2em;
    background-color:#000;
}
a.rastertab {
    left:80%;
    display:none;
}
a.tab img {
    vertical-align:middle;
    height:16px;
}

.tab span.loading {
    background:transparent url(img/loading.gif) no-repeat center center;
    position:absolute;
    right:10px;
    top:0px;
    width:16px;
    height:24px;
}
/*
 * Pure CSS close button
*/
.tab span.close {
    top:0px;
    left:5px;
    width:15px;
    height:15px;
    font-size:1.5em;
    color:#eee;
}
.tab .tools {
    position:absolute;
    cursor:pointer;
    top:24px;
    right:0px;
    display:none;
}
.tab .tools .item {
    text-align:center;
    white-space:nowrap;
    line-height:24px;
    padding:6px 7px 5px 7px;
    height:24px;
}
.tab .tools .item:hover {
    background-color:#c76400;
}
/************************************
 *
 * Generic classes
 *
 ************************************/

/* CSS definition for subscript text */
.subscript {
    font-size:xx-small;
    vertical-align:bottom;
    top:1em;
    position:relative;
}

/* Expand width and height to the max */
.whole {
    height:100%;
    width:100%;
    overflow:auto;
}

.hover {
    cursor:pointer;
}
.hover:hover {
    background-color:rgba(199,100,0,0.3);
}
.active, .selected {
    background-color:#eee;
}
.inactive {
    -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}
.bold {
    font-weight:bold;
}

/* Button */
.button {
    background: #5C6166;
    border-radius: 2px 2px 2px 2px;
    font-family:Arial, sans-serif;
    display: block;
    padding: 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background:#939CA3;
}

.button.inline {
    display:inline;
}
.button.colored {
    background: #E57300;
}
.button.colored:hover {
    background: #D17000;
}

.button.facebook {
    background:#3B5998;
}
.button.twitter {
    background:#4099FF;
}
.button.email {
    background:#939CA3;
}

/* Pure CSS close button */
.close {
    position:absolute;
    top:0px;
    right:-8px;
    cursor:pointer;
    width:30px;
    height:30px;
    font-size:2em;
    color:#666;
}
.close:before {
    content:"\00D7";
}

/* The "no overflow" class*/
.noflw {
    height:99%;
    width:99%;
    overflow:auto;
}

.image {
    padding:0px;
    background-color:transparent;
}

.image:hover {
    background-color:transparent;
    box-shadow: 0px 0px 0px 0 transparent;
    border-bottom:1px solid #c76400;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.jstfy {
    text-align: justify;
}

.big {
    font-size:1.5em;
}

.padded {
    padding:10px;
}

.marged {
    margin:10px;
}

.hidden {
    -moz-opacity:.20; filter:alpha(opacity=20); opacity:.20;
}


/************************************
 *
 * OpenLayers classes redefinition
 *
 ************************************/

div.olControlMousePosition {
    font:normal 12px Arial,Tahoma,Sans-serif;
    position: absolute;
    top: 0px;
}

/* IMPORTANT ! */
.olControlPanZoom {
    display:none;
}

.olHandlerBoxZoomBox {
    border: 1px solid #fff;
    position: absolute;
    background-color: #fff;
    opacity: 0.20;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 1px 0px 1px 1px;
    background-color:#000;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    filter:alpha(opacity=70);
    opacity:0.7;
}

.olControlOverviewMapMinimizeButton {
    right:0px;
    bottom:0px;
}

.olControlOverviewMapMaximizeButton {
    right:0px;
    bottom:0px;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("./img/transparent.png");
    cursor: move;
    border: 1px solid white;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("./img/cross.png");
    background-repeat: no-repeat;
    background-position: center;
}
.olControlAttribution {
    right:260px;
    bottom:0px;
    height:18px;
    width:auto;
    max-width:400px;
    text-align:left;
}
.olControlAttribution img{
    vertical-align:middle;
}

/* Avoid pink tiles*/
.olImageLoadError {
    background-color: transparent;
    opacity:0.5;
    filter:alpha(opacity=50); /* IE */
}

/* ScaleLine position */
.olControlScaleLine {
    top:20px;
    left:auto;
    right:20px;
    height:20px;
}

#__CONTROL_ATTRIBUTION__ {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
    font-size: 0.9em;
}

/* Waiting for OpenLayers correction */
.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
    visibility:hidden;
}

/****************************
 *
 * Plugins specific
 *
 ****************************/

/* LayersManager.js */
.lm {
    position:absolute;
    left:0px;
    width:100%;
    height:89px;
    z-index:19900;
}

/* North and South positionning differs */
.lmn {
    top:-90px;
}
.lmn .thumbs {
    top:0px;
}
.lmn a.tab{
    bottom:-24px;
}

.lms {
    bottom:-90px;
}
.lms .thumbs {
    bottom:0px;
}
.lms a.tab, .pns a.tab{
    top:-24px;
}

.lm .thumbs{
    position:absolute;
    left:0px;
    width:100%;
    height:89px;
    background-color:rgba(0,0,0,0.5);
    text-transform:uppercase;
}
.lm .thumbs .info{
    height:20px;
    overflow:hidden;
    position:absolute;
    top:89px;
    width:100%;
}
.lm .thumbs .navigation {
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    width:100px;
    height:100%;
    text-align:center;
    border-right:3px solid #000;
    background-color:rgba(199,100,0,0.3);
    z-index:10;
}
.lm .thumbs .navigation .fi {
    padding:10px 0 10px 0px;
    text-transform:none;
}
.lm .thumbs .navigation .fp {
    font-size:3em;
}
.lm .thumbs .navigation a {
    color:#fff;
}
.lm .thumbs span.close {
    top:0px;
    left:5px;
    width:25px;
    height:25px;
    font-size:2em;
    color:#eee;
}
.lm .thumbs .thumbsWrapper{
    height:100%;
    left:102px;
    right:0px;
    overflow:hidden;
    position:absolute;
    top:0;
}
.lm .thumbs .mask{
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.5);
    display:none;
    text-transform: uppercase;
    z-index:20100;
}
.lm .thumbs .maskh{
    cursor:pointer;
}
.lm .thumbs h2 {
    padding-top:20px;
}
.lm .thumbs ul{
    list-style:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
    position:absolute;
    left:0px;
    top:0px;
}
.lm .thumbs ul li a{
    position:relative;
    float:left;
    margin:0px;
    padding:2px;
    text-shadow:1px 1px 1px #000;
    text-decoration:none;
    height:81px;
    width:81px;
    top:2px;
}
.lm .thumbs ul li a:hover{
    background-color:#fff;
}

.lm .images ul li a img{
    width:75px;
    height:75px;
    background-color:#000;
    border:3px solid #f9f9f9;
    -moz-box-shadow:1px 1px 3px #000;
    -webkit-box-shadow:1px 1px 3px #000;
    box-shadow:1px 1px 3px #000;
}

.lm .thumbs a span.title {
    position:absolute;
    top:3px;
    bottom:3px;
    left:3px;
    right:3px;
    background-color:#333;
    font-size:9px;
    padding:2px 2px;
    border-top:1px solid #111;
    display:none;
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
    max-height:81px;
    opacity:0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

.lm .thumbs a:hover span.title{
    display:block;
}

.lm .rtools {
    position:absolute;
    cursor:pointer;
    bottom:5px;
    right:5px;
    z-index:100;
}
.lm .rtools img {
    height:24px !important;
    width:24px !important;
}
.lm .rtools .item {
    text-align:center;
    white-space:nowrap;
    line-height:24px;
    padding:6px 7px 5px 7px;
    height:24px;
}

/* BackgroundsManager.js and Context.js */
.bgm, .shr {
    display:inline;
    width:auto;
    height:35px;
}
.bgm .item, .shr .item {
    width:25px;
    height:100%;
    display:inline-block;
}

/* Share.js */
.shr {
    margin-left:20px;
}

/* AddLayer.js */
#ddzone {
    position:absolute;
    top:0px;
    left:0px;
    font-size:10em;
    width:100%;
    height:100%;
    margin:auto;
    display:none;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    z-index:34000;
}
#ddzone .content {
    position:relative;
    margin:auto;
    top:0px;
    width:100%;
    height:100%;
    text-align:center;
}

/* Catalog.js */
.father {
    padding:0px 5px 0px 15px;
}
.catalog img {
    height:32px;
    width:32px;
    vertical-align: middle;
}
.catalog th {
    text-align:left;
    padding:5px;
}
.catalog td {
    padding:5px;
    font-size:0.8em;
    border-top:1px solid #ccc;
}

/* Geonames.js */
#gnm {
    position:absolute;
    width:auto;
    min-width:200px;
    height:71px;
    display:none;
    background-repeat:no-repeat;
    z-index:10100;
}
#gnm .content {
    color:#000;
    background-color:#f3961c;
    height:50px;
    width:100%;
}
#gnm .header{
    float:none;
    padding:5px 5px 5px 5px;
    text-align:left;
    vertical-align:middle;
}
#gnm .title {
    font-weight: bold;
}
#gnm img {
    max-height:16px;
    max-width:16px;
}

#gnm .item {
    font-size:1.5em;
    padding-right:10px;
}

/* UserManagement.js */
 .loginPanel {
     margin:30px;
 }
 .loginPanel input {
     margin:10px 0px;
 }
 .loginPanel .signin {
     margin:20px 0px;
 }
 .loginPanel .register {
     margin:20px 0px;
     color:#999;
 }
 #rememberMe {
     margin-left:20px;
 }
 