/*
 * mapshup - Webmapping made easy
 * http://mapshup.info
 *
 * Copyright Jérôme Gasperi, 2011.12.08
 *
 * jerome[dot]gasperi[at]gmail[dot]com
 *
 * This software is a computer program whose purpose is a webmapping application
 * to display and manipulate geographical data.
 *
 * This software is governed by the CeCILL-B license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL-B
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 *
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 *
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 *
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL-B license and that you accept its terms.
*/
/**
 *
 * RESET CSS - From http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/**
 * Beginning of mapshup css definition
 *
 *  blue  : #375863 57,88,99
 *  gris : 999  153, 153,153
 *  orange foncé : (f3961c) #c76400
 *
 *
*/
html,body {
    height:100%;
}
body {
    font: 14px Tahoma,Arial,Sans-serif;
    color:#000;
    background-color:transparent;
    /* Everything is on one page */
    overflow:hidden;
}
.wrapper {
    min-height:100%;
    height: auto !important;
    height: 100%;
    margin:0px 0px -100px;
}

a {
    color:#c76400;
    text-decoration:none;
    padding:5px;
}

a.image {
    padding:0px;
    background-color:transparent;
}

a.image:hover {
    background-color:transparent;
    box-shadow: 0px 0px 0px 0 transparent;
    border-bottom:1px solid #c76400;
}

img {
    border-width:0px;
}

img.middle {
    vertical-align: middle;
}

img.square {
    height:75px;
    width:75px;
}

ul {
    list-style:none;
}

input[type="password"],input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 8px;
}
input[type="password"]:hover,input[type="text"]:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
input:focus {
    border: 1px solid #c76400;
}

/*
 * mapshup logo
*/
#msplogo {
    position:absolute;
    text-shadow: black 1px 1px 1px;
    top:0px;
    left:0px;
    z-index:10000;
}
#msplogo a {
    color:#fff;
}

/*
 * Layer activity indicator
*/
#layerai {
    position:absolute;
    top:35px;
    left:0px;
    width:16px;
    height:16px;
    background-image: url('img/loading.gif');
}

/*
 * Map container
*/
.map {
    position:absolute;
    top:0px; /* Fullscreen map */
    left:0px;
    right:0px;
    bottom:0px;
    overflow:hidden;
}
#mapcontainer {
    position:absolute;
    width:100%;
    height:100%;
}
#map {
    position:absolute;
    background:#ddd url(img/mapbg.png);
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow:hidden;
}

/*
 * Map header
 *
*/
#mheader {
    position:absolute;
    background-color:rgba(0,0,0,0.7);
    color:#999;
    top:0px;
    left:0px;
    height:35px;
    line-height:35px;
    width:100%;
    overflow:hidden;
    z-index:34500;
}

/* Login class */
#mheader .login {
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:auto;
    text-align:right;
}
#mheader h1 {
    text-align:right;
    padding-right:5px;
    font-weight:lighter;
    text-transform: uppercase;
    font-size:1.2em;
    letter-spacing: 0.2em;
}

/**
 * menu
*/
#menu {
    position:absolute;
    cursor:pointer;
    font-size:0.9em;
    width:auto;
    height:51px;
    display:none;
    z-index:10000;
}
#menu img {
    vertical-align:middle;
}
#menu .cross {
    position:absolute;
    top:-13px;
    left:-8px;
    height:14px;
    width:14px;
}
#menu .item {
    position:absolute;
    height:20px;
    width:180px;
    padding:5px;
    background-color:#eee;
    -webkit-transform: rotate(-10deg);	
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#menu .item:hover {
    background-color:#666;
    color:#fff;
    text-shadow: black 1px 1px 3px;
}

/*
 * Feature menu
*/
#fmenu {
    position:absolute;
    font-size:0.9em;
    cursor:pointer;
    width:auto;
    height:auto;
    display:none;
    z-index:10000;
}
#fmenu .item {
    height:20px;
    width:auto;
    padding:5px;
    border:1px solid #666;
    margin:0px 5px;
    color:#fff;
    background-color:rgba(0,0,0,0.7);
}
#fmenu .item:hover  {
    background-color:#c76400;
    text-shadow: black 1px 1px 3px;
}
/**
 * Loading mask
*/
.mask {
    background-color:rgba(0,0,0,0.5);
}
.mask .content {
    position:relative;
    color:#fff;
    text-transform:uppercase;
    margin:auto;
    top:50%;
    width:30%;
    text-align:center;
    z-index:35001;
}
.mask .loading {
    margin-top:10px;
}
.mask .loading a {
    background-color:#666;
    color:#fff;
    box-shadow: 1px 1px 5px 0 rgba(128,128,128,0.5);
    text-shadow: black 1px 1px 3px;
}

/**
 * Tooltip
*/
#tooltip { position:absolute; display:none; padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat; z-index:36000; }
#tooltip .inner { padding: 5px 8px 4px 8px; background-color: #000000; color: #FFFFFF; max-width: 200px; text-align: left; }
#tooltip .inner { border-radius:5px;-moz-border-radius:3px; -webkit-border-radius:3px; }

/**
 * Toolbars
 *
 *      .tb is common to all toolbars
 *
 *      .tbnwh : North West Horizontal
 *      .tbnwv : North West Vertical
 *
 *      .tbneh : North East Horizontal
 *      .tbnev : North East Vertical
 *
 *      .tbswh : South West Horizontal
 *      .tbswv : South West Vertical
 *
 *      .tbseh : South East Horizontal
 *      .tbsev : South East Vertical
 *
 *      .tbnnh : North North Horizontal
 *      .tbssh : South South Horizontal
 *
*/
.tb .item {
    position:relative;
    text-align:center;
    white-space:nowrap;
}

/* Position for North toobar */
.tbneh, .tbnev, .tbnwh, .tbnwv {
    top:55px;
}

/* Position for South toolbar */
.tbseh, .tbsev, .tbswh, .tbswv {
    bottom:20px;
}

/* Position for East Horizontal toolbar */
.tbneh, .tbseh {
    right:20px;
}

/* Position for East Vertical toolbar */
.tbnev, .tbsev {
    right:0px;
}

/* Position for West Horizontal toolbar */
.tbnwh, .tbswh {
    left:20px;
}

/* Position for West Vertical toolbar */
.tbnwv, .tbswv {
    left:0px;
}

/* Position for North North toolbar */
.tbnnh {
    top:-3px;
}

/* Position for South South toolbar */
.tbssh {
    bottom:0px;
    left:20px;
}

/* Horizontal toolbar */
.tbh {
    width:auto;
    height:40px;
}
.tbh .item {
    min-width:40px;
    height:100%;
    display:inline-block;
}
.tbh .item img {
    max-width:40px;
    max-height:40px;
}
/* Vertical toolbar */
.tbv {
    height:auto;
    width:40px;
}
.tbv .item {
    min-width:100%;
    height:40px;
}

/* Background color, font and size color for general toolbar */
.tbnwh, .tbnwv, .tbneh, .tbnev, .tbswh, .tbswv, .tbseh, .tbsev {
    background-color:#000;
    font-size:2em;
    line-height:37px;
    color:#fff;
}

.tbfrh {
    font-size:2em;
    line-height:37px;
}

/* Shadow for all toolbars except for 'fr', 'ss', 'nn' and 'v' toolbars */
.tbnwh, .tbneh, .tbswh, .tbseh {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0 gba(0, 0, 0, 0.5);
}

/* South south toolbar */
.tbssh .item {
    background-color:#000;
    width:100px;
    height:100%;
    margin-right:10px;
    font-size:1em;
    line-height:37px;
    color:#fff;
}

/* North North toolbar */
.tbnnh {
    background-color:transparent;
    height:40px;
}
.tbnnh .item {
    font-size:1em;
    line-height:37px;
    min-width:40px;
}

/* Toolbar active class */
.tbnev .active, .tbssh .active {
    background:#c76400;
}
.tbfrh .active, .tbnnh .active {
    background:transparent;
    border-bottom:3px solid #c76400;
}

/*
 * Panel
*/
.pn {
    position:absolute;
    z-index:20000;
}

/*
 * Panel normal (i.e. "over" attribute false)
*/
.pnnorm {
    background-color:#fff;
}
/*
 * Panel over (i.e. "over" attribute true)
*/
.pnover {
    background-color:rgba(0,0,0,0.7);
}

.pn .header {
    text-transform:uppercase;
    font-size:1.3em;
    text-align: center;
    padding:5px 0px;
    color:#fff;
}
.pn .expdbl {
    overflow:auto;
}
.pn .west {
    float:left;
    line-height:30px;
    border-right: 1px solid #ccc;
    width:59%;
    height:100%;
}
.pn .east {
    float:right;
    text-align:left;
    width:40%;
    height:100%;
}
.pn .block {
    padding:5px;
    margin-bottom:5px;
} 
/*
 * East and West panel
*/
.pne, .pnw {
    color:#fff;
}
.pne input {
    width:240px;
}
.pne a, .pnw a {
    padding:0px;
    background-color:transparent;
}
.pne a:hover, .pnw a:hover{
    background-color:transparent;
    box-shadow: 0px 0px 0px 0 transparent;
    border-bottom:1px solid #c76400;
}

/*
 * South panel
*/
.pns {
    width:100%;
}

.pn .close {
    color:#eee;
}

/*
 * Actions
 *
 *  actnw       actne
 *    +-----------+
 *    |           |
 *    |           |
 *    +-----------+
 *  actsw        actse
 *
 * Inner button are suffixed by i :
 * (i.e. actnwi actnei actswi actsei)
*/
.act {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 15003;
    display: block;
}
.actnw {
    top: -15px;
    left: -15px;
}
.actnnw {
    top: -15px;
    left: -7px;
}
.actne {
    top: -15px;
    right: -15px;
}
.actnei {
    top: 0px;
    right: 0px;
}
.actnne {
    top: -15px;
    right: -7px;
}
.actnnm {
    top: -15px;
    left:75px;
}
.actsw {
    bottom: -15px;
    left: -15px;    
}
.actse {
    bottom: -15px;
    right: -15px; 
}
.icncheck {
    background-image: url('img/jcheck.png');
}
.icnclose {
    background-image: url('img/jclose.png');
}
.icndownload {
    background-image: url('img/jdownload.png');
}
.icnsearch {
    background-image: url('img/jsearch.png');
}
.icnzoom {
    background-image: url('img/jzoom.png');
}

/* END : Actions */

/*
 * OpenSearch input text box
*/
.ossearch input[type="text"] {
    background: url(img/ossearch.png) no-repeat 10px 6px #000;
    border: 0 none;
    font:12px Arial,Helvetica,Sans-serif;
    color: #999;
    width:250px;
    height:auto;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
/*
 * Input text box clear button
*/
span.osclear {
    position: relative;
}
span.osclear span {
    position: absolute;
    display: block;
    top: 3px;
    right: 3px;
    width: 16px;
    height: 16px;
    background: url('img/osclear.png') no-repeat;
    cursor: pointer;
}
span.osclear input {
    padding-right: 16px;
}

/*
 * Start "popup" definition
*/
.po {
    position:absolute;
    display:none;
    border: 1px solid rgba(0, 0, 0, 0.333);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    z-index:38000;
}

/* Popup fixed size */
.pona {
    top:150px;
    width:500px;
    height:auto;
}

/* Popup auto size */
.poa {
    width:auto;
    height:auto;
}

.po p {
    padding-left:10px;
}
.po .title {
    text-transform:uppercase;
    font-weight: bold;
}

.po .description {
    padding:5px 0px 5px 10px;
}
.po input[type="text"],.po input[type="password"]  {
    width:95%;
    font-size:1em;
}

.po .body {
    background-color:#fff;
    color:#000;
    padding:10px;
    overflow:auto;
}

.po .header {
    background-color:#eee;
    color:#666;
    text-transform:uppercase;
    font-weight: bold;
    height:40px;
    line-height:40px;
    width:100%;
}

/* End : "popup" definition */

/* For share popup */
.po .share {
    margin:10px 0px;
}
.po .share .embed {
    margin-top:25px;
}
.po .share textarea {
    margin-top:10px;
    width:100%;
    resize:none;
}
.po .share a {
    margin-right:10px;
}

/* End share popup */

/*
 * For popup images
*/
.imageContent {
    background-color:#fff;
    z-index:38001;
}
.imageContent .innerTitle {
    text-align:center;
    overflow:hidden;
}
/* End : for popup image */


/*
 * CSS definition for subscript text
 */
.subscript {
    font-size:xx-small;
    vertical-align:bottom;
    top:1em;
    position:relative;
}

/* Expand width and height to the max */
.whole {
    height:100%;
    width:100%;
    overflow:auto;
}

.hover {
    cursor:pointer;
}
.hover:hover {
    background-color:#666;
    text-shadow: black 1px 1px 3px;
    color:#fff;
}
.active, .selected {
    background-color:#c76400;
    text-shadow: black 1px 1px 3px;
    color:#fff;
}
.inactive {
    -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}
.bold {
    font-weight:bold;
}

/**
 * Button
*/
.button {
    background: #5C6166;
    border-radius: 2px 2px 2px 2px;
    font-family:Arial, sans-serif;
    color: #FFFFFF;
    display: block;
    padding: 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background:#939CA3;
}

.button.inline {
    display:inline;
}
.button.colored {
    background: #E57300;
}
.button.colored:hover {
    background: #D17000;
}

.button.facebook {
    background:#3B5998;
    color:#FFF;
}
.button.twitter {
    background:#4099FF;
    color:#FFF;
}
.button.email {
    background:#939CA3;
    color:#FFF;
}

/*
 * Pure CSS close button
*/
.close {
    position:absolute;
    cursor:pointer;
    width:30px;
    height:30px;
    font-size:2em;
    color:#666;
}
.close:before {
    content:"\00D7";
}

/* The "no overflow" class*/
.noflw {
    height:99%;
    width:99%;
    overflow:auto;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.jstfy {
    text-align: justify;
}

.big {
    font-size:1.5em;
}

.padded {
    padding:10px;
}

.marged {
    margin:10px;
}

.hidden {
    -moz-opacity:.20; filter:alpha(opacity=20); opacity:.20;
}

.shadow {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0 gba(0, 0, 0, 0.5);
}

/**
 * Display mouse coordinates
*/
#coords {
    color:#fff;
    position:absolute;
    background-color:transparent;
    text-align:left;
    text-shadow: #000 1px 1px 1px;
    font-size:0.7em;
    width:200px;
    overflow:hidden;
    z-index:10000;
}

/**
 * Hilite class for feature information
*/
.featureHilite {
    position:absolute;
    color:#fff;
    font-size:0.8em;
    border: 1px solid #ccc;
    background-color:#c76400;
    max-width:250px;
    padding:10px;
    overflow:hidden;
    z-index:10000;
}

/**
 * FeatureInfo panel
*/
.pfi .header {
    margin-top:20px;
}
.pfi .title {
    cursor:pointer;
}
.pfi .info {
    padding:5px;
    margin-bottom:5px;
    font-size:0.8em;
}
.pfi .info table {
    width:100%;
}
.pfi .thumb {
    text-align: center;
    padding:5px;
    margin-bottom:5px;
}
.pfi .thumb img {
    max-height:200px;
}
.pfi .sheader {
    height:30px;
    line-height:30px;
    text-transform:uppercase;
    background-color:#fff;
}
.pfi .sheader ul {
    height:30px;
    width:auto;
}
.pfi .sheader li {
    list-style:none;
    float:left;
}
.pfi td {
    padding:5px 0px;
}

.pfi tr:nth-child(even) {
    background:#666;
}

#pfit {
    padding-bottom:10px;
}
#pfit li {
    padding-left:5px;
    display:inline;
}

/**
 * jMessage
*/
#message {
    position:absolute;
    top:40px;
    height:auto;
    max-width:80%;
    background-color:transparent;
    display:none;
    z-index:38000;
}
#message .message {
    height:auto;
    width:auto;
    text-align:center;
    background-color:#fff;
    margin-bottom:5px;
    padding:15px;
    z-index:38001;
}

/** ------------------
 *    OPENLAYERS
 *  ------------------*/

/**
 * OpenLayers css #c76400efinition
*/
div.olControlMousePosition {
    font:normal 12px Arial,Tahoma,Sans-serif;
    position: absolute;
    top: 0px;
}

/* IMPORTANT ! */
.olControlPanZoom {
    display:none;
}

.olHandlerBoxZoomBox {
    border: 1px solid #fff;
    position: absolute;
    background-color: #fff;
    opacity: 0.20;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 1px 0px 1px 1px;
    background-color: #000;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    filter:alpha(opacity=70);
    opacity:0.7;
}

.olControlOverviewMapMinimizeButton {
    right:0px;
    bottom:0px;
}

.olControlOverviewMapMaximizeButton {
    right:0px;
    bottom:0px;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("./img/transparent.png");
    cursor: move;
    border: 1px solid white;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("./img/overview_replacement.png");
    background-repeat: no-repeat;
    background-position: center;
}
.olControlAttribution {
    left:5px;
    bottom:50px;
    color:#fff;
    max-width:400px;
    text-align:left;
    text-shadow: black 1px 1px 1px;
}
.olControlAttribution img{
    vertical-align:middle;
}
/* Avoid pink tiles*/
.olImageLoadError {
    background-color: transparent;
    opacity:0.5;
    filter:alpha(opacity=50); /* IE */
}

/* ScaleLine position */
.olControlScaleLine {
    top:100px;
    left:20px;
    height:20px;
}

#__CONTROL_ATTRIBUTION__ {font-size:0.6em;}
